<h1>bla bla bla</h1>
<p><strong>Nome:</strong> <%= @contact.name %></p>
<p><strong>Endereço:</strong> <%= @contact.address %></p>
<p><strong>Cidade:</strong> <%= @contact.city %></p>
<p><strong>Estado:</strong> <%= @contact.state %></p>
<p><strong>Telefone:</strong> <%= @contact.phone %></p>
<p><strong>Mensagem:</strong> <%= @contact.message %></p>