<h1>Formulário Teste</h1>
<ul>
  <li><strong>Nome:</strong> <%= @contact.name %></li>
  <li><strong>Endereço:</strong> <%= @contact.address %></li>
  <li><strong>Cidade:</strong> <%= @contact.city %></li>
  <li><strong>Estado:</strong> <%= @contact.state %></li>
  <li><strong>Telefone:</strong> <%= @contact.phone %></li>
  <li><strong>Mensagem:</strong> <%= @contact.message %></li>
</ul>